<div class="main">
  <button (click)="navigate('')">Home</button>
  <button (click)="navigate('Off-White')">Off-White Offer</button>
  <button (click)="toggleCountryFilter('UK')">Toggle UK visitor</button>
  <button (click)="togglePriceRangeFilter(50000, 150000)">Toggle 500€ to 1500€ price range</button>
  <button (click)="priceSort()">Price sort</button>

  <app-products
    [isLoading]="isLoading$ | async"
    [hasError]="hasError$ | async"
    [products]="products$ | async"
    [sort]="sort"
  ></app-products>
</div>
